In [17]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier

# Set Up Data Frame

https://www.kaggle.com/datasets/arshid/iris-flower-dataset

In [18]:
df = pd.read_csv('/Users/jenny/Downloads/IRIS.csv')
pd.set_option("display.max_columns", 5)
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

There is no null value in the dataset, so there is no need to clean for missing values.

# Data Analysis

In [7]:
setosa = (df["species"] == "Iris-setosa")
setosadf = df[setosa]
setosadf.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [8]:
versicolor = (df["species"] == "Iris-versicolor")
versicolordf = df[versicolor]
versicolordf.describe()

       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [9]:
virginica = (df["species"] == "Iris-virginica")
virginicadf = df[virginica]
virginicadf.describe()

       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

## Sepal Length

Iris-Setosa has the shortest average sepal length with around 5 cm, Iris-Versicolor coming next with 5.9 cm, and Iris-Virginica with the longest of 6.6 cm.

## Sepal Width

Iris-Setosa had the longest average sepal width of 3.4 cm. Iris-Versicolor was the shortest with 2.8 cm. Iris-Virginica had an average of 3.0 cm.

## Petal Length

Iris-Setosa had an outstandingly short average petal length of 1.5 cm. Iris-Versicolor 4.3 cm, and Iris-Virginica had the longest with 5.6 cm.

## Petal Width

Iris-Setosa was also the shortest average with a petal width of 0.2 cm, Iris-Versicolor being 1.3 cm, and Iris-Virginica with 2.0 cm.

# Predictive Modeling

In [27]:
df.loc[(df["species"] == "Iris-setosa"), "species"] = float(1)
df.loc[(df["species"] == "Iris-versicolor"), "species"] = float(2)
df.loc[(df["species"] == "Iris-virginica"), "species"] = float(3)
df["species"] = pd.to_numeric(df.species, errors='coerce')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    float64
dtypes: float64(5)
memory usage: 6.0 KB

In [28]:
lgrg = LogisticRegression()

In [29]:
outcome = df.species
predictors = df.drop("species", axis = 1)

xtrain, xtest, ytrain, ytest = train_test_split(predictors, outcome, train_size = 0.8, random_state = 1)

lgrg.fit(xtrain, ytrain)
y_preds = lgrg.predict(xtest)
accuracy = accuracy_score(ytest, y_preds)
accuracy

0.9666666666666667

# Creating Inputs

In [30]:
knn = KNeighborsClassifier(n_neighbors = 5)

In [31]:
knn.fit(xtrain, ytrain)

KNeighborsClassifier()

**Iris-Setosa**: short sepal length, petal length and width; long sepal width

**Iris-Versicolor**: medium sepal length, sepal width, petal length and width

**Iris-Virginica**: long sepal length, petal length and width; medium sepal width

In [32]:
# Flower = [[sepal length, sepal width, petal length, petal width]]
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2      1.0
1             4.9          3.0           1.4          0.2      1.0
2             4.7          3.2           1.3          0.2      1.0
3             4.6          3.1           1.5          0.2      1.0
4             5.0          3.6           1.4          0.2      1.0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3      3.0
146           6.3          2.5           5.0          1.9      3.0
147           6.5          3.0           5.2          2.0      3.0
148           6.2          3.4           5.4          2.3      3.0
149           5.9          3.0           5.1          1.8      3.0

[150 rows x 5 columns]

In [33]:
flower1 = np.array([[1.5, 6, 0.2, 1.2]])

In [34]:
prediction = knn.predict(flower1)

C:\Users\jenny\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

In [36]:
if prediction == 1:
    print("Prediction: Iris-Setosa")
elif prediction == 2: 
    print("Prediction: Iris-Versicolor")
else:
    print("Prediction: Iris-Virginica")

Prediction: Iris-Setosa